<div ng-controller="tweetController">
	<div masonry class="tweetContainer">
		<h2 ng-hide="tweets.length > 0">There are no churulicks here! Now go and follow someone!</h2>

	    <div class="masonry-brick tweet col-sm-12 col-md-6 col-lg-4" ng-repeat="tweet in tweets" style="display: none;">
	        <img class="avatar" ng-src="{{tweet.src}}" alt="A masonry brick">

	        <div class="box">
	        	<p>{{tweet.text}}</p>

	        	<div class="button-bar">
		        	<button class="pull-left" ng-click="reply(tweet.from)"><span class="glyphicon glyphicon-share-alt"></span> Reply</button>
		        	<button class="pull-left"><span class="glyphicon glyphicon-retweet"></span> Rechurulick</button>

		        	<div class="pull-right"><a ng-href="#/{{tweet.from}}" class="no-style">@{{tweet.from}}</a></div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>