<div class="profileContainer">
	<div class="background"></div>

	<div class="profile">
		<img class="avatar" ng-src="http://placekitten.com/100/100">
		<h3>{{info.fullname}} <span ng-show="info.verified" class="glyphicon glyphicon-ok" title="This is a verified account"></span></h3>
		<h4>@{{info.username}}</h4>
	</div>

	<div class="info">
		<h4>{{info.tweets_count}} tweets &nbsp; {{info.followers.length}} followers &nbsp; {{info.following.length}} following</h4>
	</div>

	<div class="buttons">
		<button class="btn btn-on-color" ng-hide="is_follower()" ng-click="follow()"><span class="glyphicon glyphicon-plus"></span> Follow</button>
		<button class="btn btn-on-color" ng-show="is_follower()" ng-click="unfollow()"><span class="glyphicon glyphicon-minus"></span> Unfollow</button>
		<button class="btn btn-on-color"><span class="glyphicon glyphicon-share-alt"></span> Churulick to {{first_name()}}</button>
		&nbsp;
		<button class="btn btn-on-color"><span class="glyphicon glyphicon-ok"></span> Verify</button>
		<button class="btn btn-on-color btn-red-text"><span class="glyphicon glyphicon-remove"></span> Remove</button>
	</div>
</div>

<div ng-controller="tweetController">
	<div masonry class="tweetContainer">
	    <div class="masonry-brick tweet col-sm-12 col-md-6 col-lg-4" ng-repeat="tweet in tweets" style="display: none;">
	        <img class="avatar" ng-src="{{tweet.src}}" alt="A masonry brick">

	        <div class="box">
	        	<p>{{tweet.text}}</p>

	        	<div class="button-bar">
		        	<button class="pull-left"><span class="glyphicon glyphicon-share-alt"></span> Reply</button>
		        	<button class="pull-left"><span class="glyphicon glyphicon-retweet"></span> Rechurulick</button>

		        	<div class="pull-right"><a href="#" class="no-style">{{tweet.from}}</a></div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>