<div class="profileContainer">
	<div class="background"></div>

	<div class="profile">
		<img class="avatar" ng-src="http://placekitten.com/100/100">
		<h3>{{info.fullname}} <span ng-show="info.verified" class="glyphicon glyphicon-ok" title="This is a verified account"></span></h3>
		<h4>@{{info.username}}</h4>
	</div>

	<div class="info">
		<h4>{{info.tweets_count}} churulicks &nbsp; {{info.followers.length}} followers &nbsp; {{info.following.length}} following</h4>
	</div>

	<div class="buttons">
		<button class="btn btn-on-color" ng-hide="is_follower()" ng-disabled="!logged_in" ng-click="follow()"><span class="glyphicon glyphicon-plus"></span> Follow</button>
		<button class="btn btn-on-color" ng-show="is_follower()" ng-click="unfollow()"><span class="glyphicon glyphicon-minus"></span> Unfollow</button>
		<button class="btn btn-on-color" ng-disabled="!logged_in" ng-click="reply(info.username)"><span class="glyphicon glyphicon-share-alt"></span> Churulick to {{first_name()}}</button>
		&nbsp;

		<button ng-show="user.admin &amp;&amp; !info.verified" ng-click="verify()" class="btn btn-on-color"><span class="glyphicon glyphicon-ok"></span> Verify</button>
		<button ng-show="user.admin &amp;&amp; info.verified" ng-click="unverify()" class="btn btn-on-color"><span class="glyphicon glyphicon-remove"></span> Unverify</button>
		<button ng-show="user.admin" ng-click="remove()" class="btn btn-on-color btn-red-text"><span class="glyphicon glyphicon-remove"></span> Remove</button>
	</div>
</div>

<div ng-controller="tweetController">
	<div masonry class="tweetContainer">
		<h2 ng-hide="tweets.length > 0">There are no churulicks here! Why is this user not churulicking?</h2>

	    <div class="masonry-brick tweet col-sm-12 col-md-6 col-lg-4" ng-repeat="tweet in tweets" style="display: none;">
	        <img class="avatar" ng-src="{{tweet.src}}" alt="A masonry brick">

	        <div class="box">
	        	<p>{{tweet.text}}</p>

	        	<div class="button-bar">
		        	<button class="pull-left" ng-click="reply(tweet.from)"><span class="glyphicon glyphicon-share-alt"></span> Reply</button>
		        	<button class="pull-left"><span class="glyphicon glyphicon-globe"></span>{{tweet.location}}</button>

		        	<div class="pull-right"><a href="#" class="no-style">@{{tweet.from}}</a></div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>