@var: white;

body {
  padding-top: 70px;
  background: darken(@var, 5%)
}

.starter {
  padding: 40px 15px;
  text-align: center;
}

.error {
	color: red;
}

.form-group .error {
	font-weight: normal;
}

.modal-footer .error {
	float: left;

	padding-top: 7px;
	margin: 0;
}